@import 'ress';
@import './var';
html{
  font-size: 62.5%;
}



.header{
  position: fixed;
  z-index: 1;
  background-color: $base-bg;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  &__logo_wrap{
    width: 120px;
    height: 100px;
    margin-left: 48px;
  }
  &__logo{
    width: 100%;
    height: auto;
  }
  &__nav{
    list-style: none;
    display: flex;
    height: 100%;
    width: 40%;
    // border: solid red 1px;
    margin-right: 48px;
  }
  &__list{
    height: 100%;
    width: 100%;
    margin-left: 16px;
  }
  &__link{
    font-size: 1.8rem;
    // border: solid 1px blue;
    color: $base;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    text-decoration: none;

  }
}

.index,
.news{
  margin: 0 15.2%;
}

.first-view{
  height: 100vh;
  width: 100%;
  background-image: url(../images/top.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  &__group{
    color: #fff;
    position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    inset: 11.11% 0 0 0;
    width: 40%;
    margin: auto;
    height: fit-content;
    // border: 1px solid purple;
  }
  &__title{
    text-align: center;
    white-space: nowrap;
    // border: 1px solid red;
    // font-size: 48px;
    font-size: 4.8rem;
    margin-bottom: 16px;
  }
  &__txt{
    font-size: 18px;
    // border: solid 1px;
  }
  &__txt-none{
    display: none;
  }
}

.index{
  color: $base;
  &__title{
    font-size: 48px;
    text-align: center;
    display: block;
    margin: 80px 0;
  }
  &__title:last-child{
    margin-top: 160px;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__img{
    width: 468px;
    height: 489px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__img-section1{
    background-image: url(../images/section1.jpg);
  }
  &__img-section2{
    background-image: url(../images/section2.jpg);
  }
  &__element{
    width: 40%;
    justify-content: space-between;
  }
  &__sub-title{
    font-size: 3.6rem;
    margin: 36px 0;
  }
  &__text{
    font-size: 1.8rem;
  }
}


.news{
  margin-top: 160px;
  &__title{
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 80px;
  }
  &__element-wrap{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    // border: 1px solid deeppink;
  }
  &__element{
    width : calc(95% / 3) ;
  }
  &__sub-title{
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 32px;
  }
  &__text{
    font-size: 1.8rem;
  }
}


.footer{
  width: 100%;
  height: 70px;
  background-color: $green;
  text-align: center;
  line-height: 70px;
  color: #fff;
  margin-top: 176px;
}


@media screen and (max-width:1120px){
  // 960未満〜
  .header{
    &__nav{
      background-color: red;
      width: 100px;
      height: 100%;
      margin-right: 0;
    }
    &__list{
      display: none;
    }
  }
  .first-view{
    // border: 1px solid red;
    height: 50vh;
    &__gloup{
      // inset: 30% 0 0 0;
    }
    &__title{
      font-size: 3.2rem;
      // width: fit-content;
    }
    &__txt{
      display: none;
    }
    &__txt-none{
      display: block;
    }
  }
  .news,
  .index{
    margin: 0 3%;
  }

.index{
  &__wrap{
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__element{
    width: 100%;
  }
}

  .news{
    &__element-wrap{
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__element{
      // width: calc(100% / 3);
      min-width: 300px;
      margin-top: 40px;
      text-align: center;
      // border: solid 1px blue;
    }
    &__title{
      font-size: 3.2rem;
    }
    &__sub-title{
      font-size: 2.4rem;
      margin-bottom: 8px;
    }
    &__text{
      font-size: 1.6rem;
    }
  }
}

@media screen and(max-width:769px){
  // 1280未満〜960以上
  .index{
    &__title{
      font-size: 3.2rem;
    }
    &__sub-title{
      font-size: 2.4rem;
    }
  }
}
